*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F2F2F2;
}
.nav-item{
    padding: 1px 0 2px 0;
    border-top: 2px solid transparent;
    margin: 0 20px;
    cursor: pointer;
    transform: 1ms;
}
.nav-item:hover{
    padding: 1px 0 2px 0;
    border-top: 2px solid black;
    background-color: #F2F2F2;
}

nav{
    background-color: white;
}
.active{
    padding: 1px 0 2px 0;
    border-top: 2px solid black;
    background-color: #F2F2F2;
}

.messageBox {
    margin: 25px 0px 15px 15px;
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
  }
  .messageBox:focus-within {
    border: 1px solid rgb(110, 110, 110);
  }

  #messageInput {
    width: 200px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: black;
  }
  
  #sendButton {
    width: fit-content;
    height: 100%;
    background-color: white;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  #sendButton svg {
    height: 18px;
    transition: all 0.3s;
  }
  #sendButton svg path {
    transition: all 0.3s;
  }
  #sendButton:hover svg path {
    fill: #fff;
    stroke: #000;
  }
.img-slide{
    height: 350px;
    width: 350px;
    margin-left: -40px;
}
  

